body { 
  background-image: url(bakgrundsbild.jpg);
  background-repeat: no-repeat;
  background-position: top;
  background-attachment: initial;
  background-size: 45%;
  background-color: bisque;

  }

/* Example styling of a h1 element */
h1 {
  color: rgb(223, 171, 224);
  font-style: italic;
  font-size: 100px;
  font-family: cursive;
  text-align: center; 
  margin-top: 120px;

}
h2 {
  color: rgb(170, 92, 47);
  font-style: italic;
  font-size: 50px;
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
  margin-top: -50px;
  margin-bottom: 250px;
  
}

/* Styling of the main text */

p {
  color: rgb(16, 7, 102);
  font-size: 25px;
  font-family: 'Times New Roman', Times, serif;
  text-align: justify;
  line-height: 40px;
  margin: 25px 50px 30px 100px;
  
  
}

/* Fun facts-list */

h3 {
  color: rgb(16, 7, 102);
  font-size: 25px;
  font-family: 'Times New Roman', Times, serif;
  text-align: justify;
  line-height: 40px;
  margin: 15px 50px 30px 100px;
}


ul{
  color: rgb(16, 7, 102);
  font-size: 25px;
  font-family: 'Times New Roman', Times, serif;
  text-align: justify;
  line-height: 40px;
  margin: 5px 50px 55px 100px;
  list-style-type: square;
  
  
}

p1 {
  color: rgb(16, 7, 102);
  font-size: 25px;
  font-family: 'Times New Roman', Times, serif;
  text-align: justify;
  line-height: 40px;
  margin: 25px 50px 30px 100px;

}
/* Styling of links */

.punktlista {
  list-style-type: none;
  margin: 25px 50px 30px 100px;
}


a:link {
  color: rgba(189, 65, 65, 0.712);
  text-decoration: none;
  font-size: 25px;
  font-family: 'Times New Roman', Times, serif;
  
}

a:visited {
  color: rgb(52, 52, 189);
  text-decoration: none;
  font-size: 25px;
  font-family: 'Times New Roman', Times, serif;
  
}